################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/devtools
/dx10sdk/Utilities/dx9_30
/dx9sdk/utilities
/fgdlib
/game/client/Debug_mod_episodic
/game/client/Debug_mod_hl2
/game/client/Release_mod_episodic
/game/client/Release_mod_hl2
/game/server/Debug_mod_episodic
/game/server/Debug_mod_hl2
/game/server/Release_mod_episodic
/game/server/Release_mod_hl2
/game/protobuf_include.vpc
/gcsdk/bin
/lib
/materialsystem/stdshaders/Debug_dx9_mod_episodic
/materialsystem/stdshaders/Debug_dx9_mod_hl2
/mathlib/Debug
/mathlib/Release
/raytrace/Debug
/raytrace/Release
/thirdparty/protobuf-2.3.0
/tier1/Debug
/tier1/Release
/utils
/vgui2/vgui_controls/Debug
/vgui2/vgui_controls/Release
/vpc_scripts
/createallprojects
/createallprojects.bat
/creategameprojects
/creategameprojects.bat
/everything.sln
/vstdlib
/tier0
